# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: Build
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build-lib:
    name: Build SmallsOnline.Web.Lib
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup dotnet SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "6.0.x"

      - name: Build library
        shell: pwsh
        run: dotnet restore SmallsOnline.Web.Lib.sln ; dotnet build SmallsOnline.Web.Lib.sln